/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lobster');


/*Global settings*/
*{
	margin: 0;
	padding: 0;
}

body{ 
	font-family: 'Lobster', cursive;
}

/*Nav*/
.container{
	
}

.container ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.container a{
 	text-decoration: none;
}

@media (max-width: 650px){
	.container ul{
		flex-direction: column;
	}
}

/*About*/
.about{
	display: flex;
}

/*Skills*/
.skills{
	display: flex;
}

/*Portfolio*/
.portfolio{
	display: flex;
}

/*contact*/
.contact{
	display: flex;
}

/*footer*/
footer{
	
}

.author{
	
display: flex;
	justify-content: space-between;
	flex-direction: flex-end;
}