/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lobster');


/*Global settings*/
*{
	margin: 0;
	padding: 0;
}

body{ 
	font-family: 'Lobster', cursive;
}

/*Nav*/
.container{
	background-color: #484848;
}

.container ul{
	display: flex;
	justify-content: space-around;
}

.container li{
	list-style: none;
	padding: 5px 0;
}

.container a{
	color: #F5F5F5;
 	text-decoration: none;
	font-size: 40px;
}
.container a:hover{
	color: #92cece; 
}

@media (max-width: 650px){
	.container ul{
		flex-direction: column;
		text-align: center;
		border-radius: 3px;
		flex-wrap: none;
	}
}

/*About*/
.about{
	display: flex;
}

.about > h1{
	text-align: center;
	margin: 0 auto;
}

/*Skills*/
.skills{
	display: flex;
	justify-content: space-around;
	padding: 5px;
}

.fa-html5{
	color: #e34f26;
}

.fa-css3-alt{
	color:  #1680C0;
}

.fa-js-square{
	color: #f7df1e;
}

@media (max-width: 650px){
	.skills{
		flex-direction: column;
		align-items: center;
		margin: auto;
	}
	
	.skills i{
		margin-bottom: 20px;
	}
}

/*Portfolio*/
.portfolio{
	display: flex;
}

/*contact*/
.contact{
	display: flex;
}

/*footer*/
footer{
	
}

.author{
	
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #484848;
	color: #F5F5F5;
	min-height: 75px;
	padding: 10px;
}