/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lobster');


/*Global settings*/
*{
	margin: 0;
	padding: 0;
}

body{ 
	font-family: 'Lobster', cursive;

}

h2{
	margin: auto;
	text-align: center;
}

/*Nav*/
.container{
	background-color: #484848;
	position: fixed;
	width: 100%;
}

.container ul{
	display: flex;
	justify-content: space-around;
}

.container li{
	list-style: none;
	padding: 5px 0;
}

.container a{
	color: #F5F5F5;
 	text-decoration: none;
	font-size: 40px;
}
.container a:hover{
	color: #92cece; 
}

@media (max-width: 650px){
	.container ul{
		flex-direction: column;
		text-align: center;
		border-radius: 3px;
	}
}

/*About*/
.about{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 60px;
	min-height: 95vh;
}

.about > h1{
	text-align: center;
	margin: 0 auto;
}
.about p{
	text-align: center;
	margin:0 auto;
}

/*Skills*/
.skills{
	display: flex;
	justify-content: space-around;
	padding: 15vh 0;
	min-height: 40vh;
	margin-bottom:0 30px;
}

.fa-html5{
	color: #e34f26;
}

.fa-css3-alt{
	color:  #1680C0;
}

.fa-js-square{
	color: #f7df1e;
}

@media (max-width: 650px){
	.about{
		padding-top: 250px;
		min-height: 60vh;
	}
	.skills{
		padding: 1vh;
		flex-direction: column;
		align-items: center;
		margin: auto;
	}
	
	.skills i{
		margin-bottom: 20px;
	}
}

/*Portfolio*/
.wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.wrapper p{
	font-family: sans;
}

.portfolio{
	display: flex;
	margin-top: 15px;
	border: 1px solid black;
}

.portfolio div{
	border: 1px solid black;
	width: 100%;
	flex-direction: space-around;
	
	
}

.portfolio img{
	max-width: 500px;
	width: 100%;
}

/*contact*/
.contact{
	display: flex;
	
}

/*footer*/
footer{
	
}

.author{
	
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #484848;
	color: #F5F5F5;
	min-height: 75px;
	padding: 10px;
}